html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

#gameWrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: auto;
	border: 5px solid green;
	width: 840px;
	height: 840px;
}

#gameScreen {
	border: 1px solid black;
	width: 640px;
	height: 640px;
    background: gray;
}

table, tr, td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

#board {
	border: 1px solid red;
}

.tile {
	width: 40px;
	height: 40px;
}

.covered {
    background: url("img/coveredTile.png");
    background-size: cover;
}

.empty {
    background: url("img/emptyTile.png");
    background-size: cover;
}

